

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081b29;

}
 .img-butterfly{
   
    background: url("static/imagem/png/Butterfliy-blue-logo.png") no-repeat center ;
    background-size: cover;
    /*object-fit: cover;
    object-position: 20% 10% ;  try 20% 10% */ 
    width: 300px;
    height: 300px;
    /* direita esquerda intensidade de sombra */
    filter: drop-shadow(2px 2px 0px );
    animation: anima  3s infinite , animaTres 3s linear;
  
    border-radius: 30px;

}

@keyframes anima {

    0%{
        filter: drop-shadow(16px 7px 8px #00eeff );
    }

    50%{
        filter: drop-shadow(16px 7px 80px #00eeff );
    }

    100%{

        filter: drop-shadow(16px 7px 8px #00eeff );
    }
}
/*
@keyframes animaDois {

    0%{
        filter: drop-shadow(160px 0px 10px #00eeff );
    }

    50%{
        filter: drop-shadow(0px 160px 0px #00eeff  );
    }

    100%{

        filter: drop-shadow( #71f5fe 1rem 1rem 0px );
    }



}

*/

    
@keyframes animaTres {

    
  0%{
    background: linear-gradient(to bottom, rgb(32, 0, 114), #00eeff);

    padding-top:100px;
    border-radius: 50%;

  }

  25%{

  
    padding-left:100px;

  }

  50%{
    padding-right:100px;
   
  }

  75%{


    padding-bottom:100px;
   

  }

  100%{

    background: linear-gradient(to bottom, rgb(32, 0, 114), #00eeff);
    
    padding-left:0px;
  }
    
}

@media (max-width:700px) {
    
    .img-butterfly{

        width: 150px;
        height: 150px;

    }

}