*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    background-color: #081b29;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;

}

.li-logo{
   font-size: 25px;
   color: white;
   text-decoration: none;
   font-weight: 600;
}

.li-logo:hover{
    color: #00abf0;
}

.navbar a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    transform: .3s;
    color: white;
}

.navbar a:hover , 
.navbar a.active {
    color: #00abf0;
}

.navbar:hover{
    transition-delay: 0s 1s;
    box-shadow:
     0 0 10px #00eeff ,
     0 0 40px rgb(0, 238, 255) ,
     0 0 10px hsl(184, 100%, 50%) ,
     0 0 10px hwb(184 0% 0%),
     0 0 10px #00eeff ,
     0 0 10px #00eeff ,
     0 0 10px #00eeff ;
     border-radius: 10px;

}


li{
   display:inline-block; 
   padding: 20px;
   margin: 5px;

}


/*
    color: black;
    background-color: white;
    transition-delay: 0s 1s;
    box-shadow:
     0 0 10px #00eeff ,
     0 0 40px rgb(0, 238, 255) ,
     0 0 10px hsl(184, 100%, 50%) ,
     0 0 10px hwb(184 0% 0%),
     0 0 10px #00eeff ,
     0 0 10px #00eeff ,
     0 0 10px #00eeff ;
    background-color: white;
    border-radius: 10px;
    border:2px solid white;
    /*box-shadow: 10px 10px ;
    */

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-left{

}

.div-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
    background-color:#00abf0;
    transition-delay: 0s 1s;
    border-radius: 50%;
}


.div-info:hover {

    color: white;
    transition-delay: 0s 1s;
    box-shadow:
     0 0 10px #00eeff ,
     0 0 40px rgb(0, 238, 255) ,
     0 0 10px hsl(184, 100%, 50%) ,
     0 0 10px hwb(184 0% 0%),
     0 0 10px #00eeff ,
     0 0 10px #00eeff ,
     0 0 10px #00eeff ;
    background-color: white;
    animation: move 3s infinite;


}

.img-principal{
    width: 87%;
    height: 87%;
    border-radius: 50%;
}

h1{
    text-align: center;
    color: white;
}


@keyframes move{
    0%{
        box-shadow:
        0 0 10px #00eeff ,
        0 0 40px rgb(0, 238, 255) ,
        0 0 10px hsl(184, 100%, 50%) ,
        0 0 10px hwb(184 0% 0%),
        0 0 10px #00eeff ,
        0 0 10px #00eeff ,
        0 0 10px #00eeff ;
    }
    50%{
        box-shadow:
        0 0 10px #00eeff ,
        0 0 40px rgb(0, 238, 255) ,
        0 0 10px hsl(184, 100%, 50%) ,
        0 0 10px hwb(184 0% 0%),
        0 0 100px #00eeff ,
        0 0 10px #00eeff ,
        0 0 10px #00eeff ;
    }
    100%{
        box-shadow:
        0 0 10px #00eeff ,
        0 0 40px rgb(0, 238, 255) ,
        0 0 10px hsl(184, 100%, 50%) ,
        0 0 10px hwb(184 0% 0%),
        0 0 10px #00eeff ,
        0 0 10px #00eeff ,
        0 0 10px #00eeff ;
    }
}

@media screen and (max-width:700px){

    .navbar a {
        font-size: 15px;
        text-decoration: none;
        font-weight: 500;
        transform: .3s;
      
    
    }
    .navbar:hover{
        transition-delay: 0s 1s;
        box-shadow:
         0 0 10px #00eeff ,
         0 0 40px rgb(0, 238, 255) ,
         0 0 10px hsl(184, 100%, 50%) ,
         0 0 10px hwb(184 0% 0%),
         0 0 10px #00eeff ,
         0 0 10px #00eeff ,
         0 0 10px #00eeff ;
         border-radius: 10px;
    

    }
    
        .div-info{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 300px;
            margin-bottom: 40px;
            width: 300px;
            height: 300px;
            background-color:#00abf0;
            transition-delay: 0s 1s;
            border-radius: 50%;
          
          
  
        }

        
        .div-info:hover {
     
           
            color: white;
            transition-delay: 0s 1s;
            box-shadow:
            0 0 10px #00eeff ,
            0 0 40px rgb(0, 238, 255) ,
            0 0 10px hsl(184, 100%, 50%) ,
            0 0 10px hwb(184 0% 0%),
            0 0 10px #00eeff ,
            0 0 10px #00eeff ,
            0 0 10px #00eeff ;
            background-color: white;
            animation: move 3s infinite;
        
        }

        .img-principal{
            width: 87%;
            height: 87%;
             border-radius: 50%;
          }
      }

