
                :root{

                    --color-butterfly-primaria-claro:#00eeff; 
                    /* 1 vezes utilizado */ 
                    --color-butterfly-segundaria-escuro:#00abf0; 
                    /* 3 vezes utilizado */
                    --color-background:#081b29;
                    /* 1 vezes utilizado */ 
                    --color--text--primaria:white;
                    /* mais de 3 vezes */
                
                }
                
                
                *{
                
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    font-family: 'poppins',sans-serif;
                
                }

                .a-b{

                    background-color: #00abf0;
                    padding: 20px;
                    border-radius: 20px;
                    text-decoration: none;
                    transition: 0.6s;
                    
                    
                    color: white;
                }
                
                .a-b:hover{
                    filter: drop-shadow(30px 10px 4px 
                    #00000074);
                 
                    color: #00abf0;
                    background-color: antiquewhite;
                    border-radius: 20px;
                    padding: 150px;
                    animation: cor 6s infinite;
                    transition: 0,6;
                


                }


                @keyframes cor {
           
                     
                    0%{
                        background: linear-gradient(#00abf0,white);
                        color: white;

                    }

                    50%{

                        background: linear-gradient(#00abf0,white,#00abf0);
                        color: #00abf0;

                    }
                    
                    100%{
                        background: linear-gradient(white,#00abf0);
                        color: white;
                    }



                }
                body{
                
                    background-color: var(--color-background);
                }
                
                header{
                
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 0px 5%;
                    background-color: transparent;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    z-index: 100;
                
                }
                
                .img-logo{
                
                    width: 50px;
                    height: 50px;
                }
                
                .li-logo{
                
                   font-size: 25px;
                   color: var(--color--text--primaria);
                   text-decoration: none;
                   font-weight: 600;
                
                }
                
                .li-logo:hover{
                
                    color: #00abf0;
                }
                
                .navbar a {
                
                    font-size: 20px;
                    text-decoration: none;
                    font-weight: 500;
                    transform: .3s;
                    color: var(--color--text--primaria);
                }
                
                .navbar a:hover , 
                .navbar a.active {
                
                    color: var(--color-butterfly-segundaria-escuro);
                    
                }
                
                
                .navbar:hover{
                
                    transition-delay: 0s 1s;
                    box-shadow:
                     0 0 10px var(--color-butterfly-primaria-claro) ,
                     0 0 40px rgb(0, 238, 255) ,
                     0 0 10px hsl(184, 100%, 50%) ,
                     0 0 10px hwb(184 0% 0%),
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ;
                     border-radius: 10px;
                     animation: move 3s infinite;
                
                }
                
                
                li{
                
                   display:inline-block; 
                   padding: 20px;
                   margin: 5px;
                  
                
                }
                
                
                /*
                    color: black;
                    background-color: white;
                    transition-delay: 0s 1s;
                    box-shadow:
                     0 0 10px #00eeff ,
                     0 0 40px rgb(0, 238, 255) ,
                     0 0 10px hsl(184, 100%, 50%) ,
                     0 0 10px hwb(184 0% 0%),
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ;
                    background-color: white;
                    border-radius: 10px;
                    border:2px solid white;
                    /*box-shadow: 10px 10px ;
                    */
                
                .grid-container{
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-template-areas: "esq  dir  ";
                       
                }
                .grid-left{
                
                    grid-area: esq ;
                
                
                }
                
                /* com object-fit cover e position 20% 10% deixa a tela responsivel
                em qualquer tamanho da tela */
                
                .backgro-img{
                
                    background: url('static/imagem/background/natureza-borboleta-azul-1.jpg') no-repeat center;
                    background-size: cover;
                    object-fit: cover;
                    object-position: 20% 10% ; /* try 20% 10% */ 
                    width: 100%;
                    height: 100vh;
                }
                
                .titulo-natureza{
                
                    margin-top: 40px;
                    text-align: center;
                }
                
                .grid-right{
                
                    grid-area: dir ;
                
                }
                
                
                
                .img-principal{
                
                    width: 87%;
                    height: 87%;
                    border-radius: 50%;
                }
                
                h1{
                    margin-top: 20px;
                    
                    text-align: center;
                    color: white;
                
                }
                
                h2{
                    
                    text-align: center;
                    color: white;
                
                }
                
                .grid-layout{
                    
                    margin-top:4%;
                    margin-bottom: 4%;
                    display: grid;
                    gap: 20px;
                    grid-template-columns: 1fr 1fr  ;
                    grid-template-areas: "esq cent ";
                }
                
                .container-div-woman{
                    
                    display: grid;
                    grid-area: esq;
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    z-index: 1;
                
                  }
                  
                  .div-woman{
                  
                    width: 500px;
                    height: 500px;
                    background-color: #00abf0;
                    border-radius: 20px;
                    transition: 0.6s;
                    filter: drop-shadow(30px 10px 4px #00000074);
                  
                  
                  }
                  .div-woman:hover{
                
                    border:20px solid black;
                    transition: 0.6s;
                    border-radius: 20px;
                    cursor: pointer;
                  }

                  
                  .img-woman{
                
                    width: 760px;
                    height: 500px;
                    transition: 0.6s;
                
                  }
                
                .container-overflow{
                    width: 100%;
                    height: 100%;
                    overflow-x: auto;
                   transition: 0.6s;
                }
                
                .container-div-info{
                    
                    width: 2000px;            
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 0;
                    background-color:#051521 ;
                    padding-left: 25px;
                    transition: 0.6s;
                 
                }
                
                         
                .div-info{
                
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 60px;
                    margin-bottom: 60px;
                    margin-left: 60px;
                    width: 260px;
                    height: 260px;
                    background-color:var(--color-butterfly-segundaria-escuro);
                    transition-delay: 0s 1s;
                    border-radius: 50%;
                    transition: 0.6s;
                    cursor: pointer;
                }
                
                .div-info:hover {
                
                    color: var(--color--text--primaria);
                    transition-delay: 0s 1s;
                    box-shadow:
                     0 0 10px #00eeff ,
                     0 0 40px rgb(0, 238, 255) ,
                     0 0 10px hsl(184, 100%, 50%) ,
                     0 0 10px hwb(184 0% 0%),
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ,
                     0 0 10px #00eeff ;
                    background-color: white;
                    animation: move 3s infinite;
                
                }
                
                .container-text{
                
                    display: grid;
                    grid-area: cent;
                    color: white;
                    background-color: #677d8d;
                    margin: 30px;
                    border-radius: 20px;
                }
                
                .text{
                
                    display: block;
                }
                
                table{
                  
                    text-align: center;
                    width: 500px;
                    height: 500px;
                    margin: 0 auto;
                    border: 1px solid black;
                
                }
                
                td{
                
                    border: 1px solid black;
                
                }
                
                
                tr{
                    border: 1px solid black;
                }
                
                
                
                
                
                @keyframes move{
                
                    0%{
                
                        box-shadow:
                        0 0 10px #00eeff ,
                        0 0 40px rgb(0, 238, 255) ,
                        0 0 10px hsl(184, 100%, 50%) ,
                        0 0 10px hwb(184 0% 0%),
                        0 0 10px #00eeff ,
                        0 0 10px #00eeff ,
                        0 0 10px #00eeff ;
                    }
                
                    50%{
                
                        box-shadow:
                        0 0 10px #00eeff ,
                        0 0 40px rgb(0, 238, 255) ,
                        0 0 10px hsl(184, 100%, 50%) ,
                        0 0 10px hwb(184 0% 0%),
                        0 0 60px #00eeff ,
                        0 0 10px #00eeff ,
                        0 0 10px #00eeff ;
                    }
                
                    100%{
                
                        box-shadow:
                        0 0 10px #00eeff ,
                        0 0 40px rgb(0, 238, 255) ,
                        0 0 10px hsl(184, 100%, 50%) ,
                        0 0 10px hwb(184 0% 0%),
                        0 0 10px #00eeff ,
                        0 0 10px #00eeff ,
                        0 0 10px #00eeff ;
                    }
                
                    
                }
                
                .espaco{
                
                    width: 100px;
                    height: 200px;
                }
                
                footer{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    width: 100%;
                    height: 200px;
                    background-color: #081b29;

                
                }
                
                footer:hover{
                
                    background-color:#051521 ;
                
                }



                @media screen and (min-width:701px) and (max-width:1200px){


                    h1{

                     
                    }
 
                    .grid-layout{
                
                        display: block;
                        
                        
                    }

                

                    .container-div-woman{
                        
                        display: block;
                        margin-top: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 20px;
                        z-index: 0;
                    
                      }
                
                
                      .container-div-info{
                    
                        width: 2000px;            
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        z-index: 0;
                        background-color:#051521 ;
                        padding-left: 25px;
    
                     
                    }
                    
                
                
                
                    .container-text{
                            padding-top: 20px;
                            display: block;
                            width: 80%;
                            color: white;
                            background-color: #677d8d;
                            margin: 40px auto;
                            border-radius: 20px ;
                            
                        }
                
                        
                        .container-div-woman{
                    
                            display: block;
                            margin-top: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 20px;
                            z-index: 0;
                        
                          }

                         .div-woman{

                          width: 84%;
                          height: auto;
                          background-color: #00abf0;
                          border-radius: 20px;
                          transition: 0.6s;
                          
                          filter: drop-shadow(30px 10px 4px #00000074);
                         }
                        
                        
                        .div-woman:hover{
                      
                          border:20px solid black;
                          transition: 0.6s;
                          border-radius: 20px;
                          cursor: pointer;
                        }
                
                        .img-woman{
                
                            width: 80%;
                            margin: 0 auto;
                            height: auto;
                            transition: 0.6s;
                        
                          }

                          h1{
                            margin-top: 10px;
                          }
                
                  
                
        
                        }



                        @media screen and (max-width:700px){
                            .a-b:hover{

                                padding: 50px;



                            }

                            .grid-layout{
                                display: block;
                            }


                            .container-overflow{
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                transition: 0.6s;
                                
                       
                            }

                            
                      .container-div-info{
                    
                        width: 100%; 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 0;
                        background-color:#051521 ;
                        padding-left: 25px;
                        transition: 0.6s;
    
                     
                    }
                            

                            .container-text{

                                padding: 20px;
                                display: block;
                                width: 80%;
                                color: white;
                                background-color: #677d8d;
                                margin: 40px auto;
                                border-radius:20px ;
                                
                            }

                            
                        
                            .header{
                        
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100%;
                                padding: 10px 5%;
                                background-color: transparent;
                                justify-content: space-between;
                                display: flex;
                                align-items: center;
                                z-index: 100;
                            
                            }
                        
                            .navbar a {
                        
                                font-size: 10px;
                                text-decoration: none;
                                font-weight: 500;
                                transform: .3s;
                            }
                        
                            li{
                        
                                display:inline-block; 
                                padding: 5px;
                                margin: 2.3px;
                        
                             
                             }
                        
                             h3{
                        
                                font-size: 13px;
                             }
                        
                            .navbar:hover{
                        
                                transition-delay: 0s 1s;
                                box-shadow:
                                 0 0 10px #00eeff ,
                                 0 0 40px rgb(0, 238, 255) ,
                                 0 0 10px hsl(184, 100%, 50%) ,
                                 0 0 10px hwb(184 0% 0%),
                                 0 0 10px #00eeff ,
                                 0 0 10px #00eeff ,
                                 0 0 10px #00eeff ;
                                 border-radius: 5px;
                                 animation: move 3s infinite;
                            
                        
                            }
                              .container-div-info{
                        
                                display: block;
                                padding: 20px;
                             
                              }
                                .div-info{
                              
                                    display:flex;
                                    margin: 50px auto;
                                    width: 200px;
                                    height: 200px;
                                    background-color:var(--color-butterfly-segundaria-escuro);
                                    transition-delay: 0s 1s;
                                    border-radius: 50%;
                                            
                          
                                }
                        
                                
                                .div-info:hover {
                                  
                                    color:var(--color--text--primaria);
                                    transition-delay: 0s 1s;
                                    box-shadow:
                                    0 0 10px #00eeff ,
                                    0 0 40px rgb(0, 238, 255) ,
                                    0 0 10px hsl(184, 100%, 50%) ,
                                    0 0 10px hwb(184 0% 0%),
                                    0 0 10px #00eeff ,
                                    0 0 10px #00eeff ,
                                    0 0 10px #00eeff ;
                                    background-color: white;
                                    animation: move 3s infinite;
                                
                                }
                        
                                
                        
                                .img-principal{
                                
                                    width: 87%;
                                    height: 87%;
                                    border-radius: 50%;
                        
                                  }
                        
                                  .backgro-img{
                        
                                    background: url('static/imagem/background/natureza-borboleta-azul-1.jpg') no-repeat center;
                                    object-fit: cover;
                                    object-position: 20% 10% ; /* try 20% 10% */ 
                                    width: 100%;
                                    height: 100vh;
                        
                                  }
                        
                                  .container-div-woman{
                            
                                    display: block;
                                    margin-top: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 20px;
                                    z-index: 0;
                                
                                  }

                                 .div-woman{
                                  width: 84%;
                                  height: auto;
                                  background-color: #00abf0;
                                  border-radius: 20px;
                                  transition: 0.6s;
                                  filter: drop-shadow(30px 10px 4px #00000074);
                                 }
                                
                                
                                .div-woman:hover{
                              
                                  border:20px solid black;
                                  transition: 0.6s;
                                  border-radius: 20px;
                                  cursor: pointer;
                                }
                        
                                .img-woman{
                        
                                    width: 80%;
                                    margin: 0 auto;
                                    height: auto;
                                    transition: 0.6s;
                                
                                  }
                                  
                                  footer{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                  }
                                                        
                                }